/* Archivo: base.css - NO BORRAR EL NOMBRE */

/* --- Estilos Generales y Reset --- */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa; /* Un gris muy claro */
    /* CORRECCIÓN: Añade padding al final para que el footer no tape contenido */
    padding-bottom: 80px; 
}



